---
layout: default
---

<div class="home">
  <a class="rss-link" href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS Feed</a>
  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <div class="container-fluid">
          {% if post.catagory %}
            <div class="text-uppercase post-type">
              {{ post.catagory }}
            </div>
          {% endif %}
          {% if post.bookTitle %}
            <h2 class="post-title">
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
            <div class="post-info">
              {% if post.bookImg %}
                <div class="col-md-4">
                  <img class="thumbnail" src={{ post.bookImg }} />
                </div>
              {% endif %}
              <div class="post-meta col-md-8 col-sm-12">
                <div>
                  <div>{{ post.date | date: "%b %-d, %Y" }} | {{ post.author }}</div>
                  <span class="post-book-title ">{{ post.bookTitle }}</span> by {{ post.bookAuthor }} | {% include starRating.html %}
                </div>
                <div class="post-excerpt hidden-sm hidden-xs">
                  {{ post.excerpt }}
                  <p>
                    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">Read More &raquo;</a>
                  </p>
                </div> <!-- sm/xs excerpt -->
                <div class="col-sm-12 post-excerpt visible-sm-inline-block visible-xs-inline-block">
                  {{ post.excerpt }}
                  <p>
                    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">Read More &raquo;</a>
                  </p>
                </div> <!-- excerpt column -->
              </div> <!-- meta column-->
            </div> <!--post-info-->
            {% else %}
              <h2 class="post-title">
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
              </h2>
              <div class"post-excerpt">
                {{ post.excerpt }}
              </div>
            {% endif %}
        </div>
      </li>
    {% endfor %}
  </ul>

  <!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="previous">PREV</a>
  {% else %}
    <span class="previous">PREV</span>
  {% endif %}
  <span class="page_number ">{{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="next">NEXT</a>
  {% else %}
    <span class="next ">NEXT</span>
  {% endif %}
</div>

</div>
