<header class="header">
  <div class="wrapper">
    <div class="hidden-sm hidden-xs">
      <nav class="site-nav">
        {% for page in site.pages %} {% if page.title and page.public %}
        <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a> {% endif %} {% endfor %}
      </nav>
    </div>
    <a href="{{ site.baseurl}}/"><img class="img-responsive" src="{{ site.baseurl }}/assets/banner.png" /></a>
    <div class="visible-sm-block">
      <nav class="site-nav site-nav-lower">
        {% for page in site.pages %} {% if page.title and page.public %}
        <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a> {% endif %} {% endfor %}
      </nav>
    </div>
    <div class="visible-xs-block">
      <nav class="site-nav site-nav-lower">
        {% for page in site.pages %} {% if page.title and page.public %}
        <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a> {% endif %} {% endfor %}
      </nav>
    </div>
  </div>
</header>
