{% if page.bookGrade %}
  {% assign wholeGrade = page.bookGrade | floor %}
  {% if wholeGrade > 5 %}
    {% assign wholeGrade = 5 %}
  {% endif %}
  {% assign partialGrade = page.bookGrade | minus:wholeGrade %}
  {% assign emptyGrade = 5 | minus:wholeGrade | minus: partialGrade | ciel %}
{% endif %}
{% if post.bookGrade %}
  {% assign wholeGrade = post.bookGrade | floor %}
  {% if wholeGrade > 5 %}
    {% assign wholeGrade = 5 %}
  {% endif %}
  {% assign partialGrade = post.bookGrade | minus:wholeGrade %}
  {% assign emptyGrade = 5 | minus:wholeGrade | minus: partialGrade | ciel %}
{% endif %}
{% if wholeGrade %}
  {% for i in (1...wholeGrade) %}
    <i class="fa fa-star"></i>
  {% endfor %}
  {% if partialGrade == 0.5 %}
    <i class="fa fa-star-half-o"></i>
  {% endif %}
  {% for i in (1...emptyGrade) %}
    <i class="fa fa-star-o"></i>
  {% endfor %}
{% endif %}
