---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {% if page.bookTitle %}
      <div class="review-header">
        <div class="container-fluid">
          <div class="col-md-5 col-md-offset-0 col-sm-6 col-sm-offset-3">
            <img class="img-responsive thumbnail" src={{ page.bookImg }}>
          </div>
          <div class="col-md-7 col-sm-12 book-info">
            <div class='row'>
              <span class="book-info-title-head">{{ page.bookTitle }} by {{page.bookAuthor}}</span>
            </div>
            <div class='row'>
              <span class="book-info-metadata">Publisher:</span> {{ page.bookPublisher }}
            </div>
            <div class='row'>
              <span class="book-info-metadata">Page count:</span> {{ page.bookPages }}
            </div>
            <div class='row'>
              <span class="book-info-metadata">Release Date:</span> {{ page.bookReleaseDate }}
            </div>
            {% if page.bookSeries %}
              <div class='row'>
                <span class="book-info-metadata">Series:</span> {{ page.bookSeries }}
              </div>
            {% endif %}
            <div class='row'>
              <span class="book-info-metadata">Rating:</span> {% include starRating.html %}
            </div>
            <div class='row'>
              <span class="book-info-metadata">Plot Summary:</span> <span class="book-info-summary">{{ page.bookPlot }}</span>
            </div>
          </div>
          <hr>
        </div>

      </div>
    {% endif %}
    <div>
      {{ content }}
    </div>
  </article>

  {% include comment.html %}

</div>
